{% extends 'base.html' %}
{% block content %}

<div class-="container text-center mt-5">
    <div class="py-5">
        <h1 class="display-5 fw-bold">Sistema de Finanças</h1>
        <p class="fs-5 text-muted">Controle suas entradas e saídas de forma simples.</p>

        <div class="mt-4 d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/login" class="btn btn-primary btn-lg px-4">Entrar</a>
            <a href="/cadastro" class="btn btn-outline-secondary btn-lg px-4">Criar Conta</a>
        </div>
    </div>
</div>

{% endblock %}
